@import './Variables';

.footer {
  background: $white;
  padding: $large_spacing;
  display: flex;
  align-items: center;
  height: $footer_height;

  .copyright {
    flex: 1;
    min-width: 0;
    opacity: 0.6;
    font-weight: bold;
    font-size: 0.8rem;
  }
}
