@import './Variables';

.header {
  height: $header_height;
  display: flex;
  justify-content: space-between;
  padding: 0 $large_spacing;
  user-select: none;
  position: relative;
  z-index: $high_z_index;
  background: $white;

  .headerLeft {
    width: 140px;
    display: flex;

    .headerLogo {
      width: 120px;
      display: flex;
      align-items: center;

      img { width: 100%; }
    }
  }

  .headerRight {
    display: flex;
    align-items: center;
    position: relative;

    .button {
      margin-left: $medium_spacing;
    }
  }
}
