@import './Variables';

.message {
  border-radius: 28px;
  margin: $tiny_spacing 0;
  max-width: 600px;
  overflow: hidden;

  &.hasImage {
    width: 100%;
    max-width: 400px;
  }

  .messageImage {
    position: relative;
    background: transparentize($white, 0.85);

    img {
      @include cover();
      object-fit: cover;
      min-width: 0;
      width: 100%;
      border-top-right-radius: 28px;
      border-top-left-radius: 28px;

      &.noText {
        border-radius: 28px;
      }
    }
  }

  .messageText {
    padding: 12px 20px;
  }

  &.mine {
    background: $purple;
    color: $white;
    align-self: flex-end;
  }

  &.theirs {
    background: transparentize($white, 0.85);
    align-self: flex-start;
  }

  &.sending {
    opacity: 0.5;
  }
}

.bigImage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparentize($black, 0.15);
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}