@import './Variables';

.notFound {
  height: 100%;
  background: $purple;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    color: $white;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}