@import './Variables';

.spinner {
  @keyframes spin {
    100% { transform: rotate(360deg); }
  }

  animation: spin 1s infinite linear;
  border: solid 12px transparent;
  border-radius: 50%;
  border-right-color: $purple;
  border-top-color: $purple;
  height: 96px;
  width: 96px;
  position: relative;

  &:before {
    content: '';
    animation: spin 2s infinite linear;
    border: solid 12px transparent;
    border-radius: 50%;
    border-right-color: lighten($purple, 10%);
    border-top-color: lighten($purple, 10%);
    height: 72px;
    width: 72px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:after {
    content: '';
    animation: spin 3s infinite linear;
    border: solid 12px transparent;
    border-radius: 50%;
    border-right-color: lighten($purple, 20%);
    border-top-color: lighten($purple, 20%);
    height: 48px;
    width: 48px;
    position: absolute;
    top: 12px;
    left: 12px;
  }
}
