@import './Variables';

.tickets {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: $medium_spacing;

  .avatar {
    margin: auto;
    margin-bottom: $large_spacing;
  }

  .displayName {
    color: $purple;
    font-weight: bold;
  }

  .ticketCount {
    font-weight: bold;
    color: $green;

    &.none {
      color: $red;
    }
  }
}